@font-face {
    font-family: ostrich;
    src: url('../font/ostrich-regular.ttf');
}

@font-face {
	font-family: SinkinSans;
	src: url('../font/SinkinSans-300Light.otf');
}

@font-face {
	font-family: esquare;
	src: url('../font/E-SQUARE_demo.otf');
}

input[type=text], textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #333;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(55, 55, 55, 1);
}

input[type=text]:focus, textarea:focus {
	background: rgba(0, 0, 0, 0.7);
}

/* begin: search */
.background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
	
}

.stretch {
	max-width: 130%;
	min-width: 100%;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.search {
	margin: 13px;
}

.search-box {
    width: 100%;
    display:block;
    padding: 16px 16px 14px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	color: #ccc;
	font-family: ostrich;
	font-size: 26px;
	line-height: 20px;
}

.search-delete {
	position: absolute;
	right: 5px;
	top: 0;
	height: 52px;
	width: 52px;
	background-image: url("../img/del.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% auto;
	z-index: 1500;
}

.result-box {
	display: block;
	width: 100%;
	padding: 14px 14px 12px 14px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	color: #333;
	font-family: ostrich;
	font-size: 26px;
	line-height: 26px;
	background-color: rgba(255,255,255,0.7);
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 2px;
}

a.result-box:hover, a.result-box:active {
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	text-decoration: none;
}

/* end: search */

/* begin: route */
.route {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: 2000;
	// background-color: rgba(255,255,255,0.9);
	background-color: #fff;
	overflow: scroll;
	// display: none;
}

.route-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	height: 100%;
	position: absolute;
	width: 100%;
}

.route-map {
	width: 100%;
	height: 200px;
	background-color: #999;
}

a.route-map-back:link, a.route-map-back:visited {
	display: block;
	background-color: rgba(255,255,255,0.8);
	color: #555;
	position: absolute;
	top: 130px;
	right: 0;
	height: 49px;
	width: 90px;
	line-height: 50px;
	font-size: 26px;
	font-family: ostrich;
	text-decoration: none;
	text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	box-shadow: 0 0 3px rgba(55, 55, 55, 1);
}

a.route-map-back:hover, a.route-map-back:active {
	color: rgba(255,255,255,0.8);
	background-color:#333;
}

a.route-link:link, a.route-link:visited {
	color: #888;
	text-decoration: underline;
}

a.route-link:hover, a.route-link:active {
	top:1px;
	left:1px;
}

#map-canvas {
	height: 100%;
	width: 100%;
}

.route-hr {
    border: 0;
    height: 1px;
    background-image:-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	background-image:-o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
}

.route-status {
	margin: 8px;
}

.route-status span {
	font-size: 16;
	font-family: esquare;
	color: #bbb;
}

.route-box {
	margin: 8px;
	font-size: 16;
	font-family: esquare;
	color: #bbb;
	line-height: 20px;
}

.route-box-totaltime {
	margin-bottom: 3px;
}

.route-box-totaltime span {
	color: #888;
}

.route-box-time {
	color: #888;
	width: 85px;
}

.route-bus-num {
	color: #888;
}



/* end: route */

